include AUTHORS.{rst,md}
include CONTRIBUTING.{rst,md}
include HISTORY.{rst,md}
include LICENSE
include README.{rst,md}

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst *.md conf.py Makefile make.bat *.jpg *.png *.gif
